/* #modal-background{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, .6);
    z-index: 2
  } */
  
  /* #modal{
    position: absolute;
    top: 20%;
    left: calc(50vw - 300px);
    width: 450px;
    height: 150px;
    background-color: white;
    z-index: 3;
  } */

  #guess_modal_background {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, .6);
    z-index: 2000;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #guess_form_container {
    width: 450px;
    height: 40px;
    border-radius: 15px;
    background-color: white;
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 35px;
    padding-bottom: 35px;
    padding-left: 28px;
    padding-right: 28px;
  }

  #county_title {
    text-transform: uppercase;
  }

  .guess_element {
    margin: 10px;
  }


  #counties {
    width: 100px;
    height: 20px;
    display: flex;
    flex-direction: column;
  
  }

  #county_input {
    width: 150px;
    height: 8px;
    border-radius: 15px;
    padding: 15px;
  }

  button {
    border: none;
    border-radius: 8px;
  }

  button:hover {
    cursor: pointer;
  }

  #guess_btn {
    width: 100px;
    height: 40px;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    border-radius: 15px;
    background-color: rgb(80, 112, 80);
    color: white;
  }

  #guess_close_button {
    position: absolute;
    top: 0;
    right: 14px;
    font-size: 30px;
    transform: rotate(45deg);
  }

  #guess_close_button:hover {
    cursor: pointer;
  }

  #restart_btn {
    width: 100px;
    height: 40px;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    border-radius: 15px;
    text-transform: uppercase;
    display: flex;
  }

  #start {
    display: flex;
  }
  
  